<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include("partials/style") %>
    </head>
    <body>
    
        <div class="<%=graph %>">
            <h1><%= title %></h1>
            <div class="legend">
                <h3>Legend</h3>
                <hr>
                <ul>
                    <% points.forEach((point) => { %>
                        <li>
                            <span style='background-color: <%= point.color %>;'></span><%= point.name %>: <%= point.value %>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="graph">
                <% points.forEach((point) => { %>
                    <div 
                        data-value="<%= point.value %>"
                        class="<%= point.color %>"
                        style="height: calc(100% * (<%= point.value %> / <%= scale %>)); width: 50px; background-color: <%= point.color %>"
                    ></div>
                <% }); %>
            </div>
        </div>
    
    </body>
    </html>